/*******************************/
/********* General CSS *********/
/*******************************/
body {
    color: #000000;
    background: #ffffff;
    font-family: 'virtuoso', 'virtuoso';
    font-weight: 400;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
    
  }


h1,
h2, 
h3, 
h4,
h5, 
h6 {
    color: #6f2486;
}
h1, h2, h3 {
    font-family: 'virtuoso', 'virtuoso';
    font-weight: 600;
    letter-spacing: 0.5px;
    font-family: "Manrope", sans-serif;
    font-optical-sizing: auto;
  }



  
  nav, button, footer {
    font-family: 'virtuoso', 'virtuoso';
    font-weight: 500;
  }
  


/********* inicio carrusel *********/
.carousel-container {
    position: relative;
    max-width: 100%;
    height: 600px;
    overflow: hidden;
    margin: 0 auto 2rem;
    border-radius: 0px;
  }
  
  .carousel-slide {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .carousel-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .carousel-slide.active {
    display: block;
  }
  
  .carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0,0,0,0.4);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    z-index: 1;
  }
  
  .carousel-btn.prev {
    left: 10px;
  }
  
  .carousel-btn.next {
    right: 10px;
  }
  /********* Fin carrusel *********/




/****************************************************/
/************ LOGIN y POP UP ***********************/
/**************************************************/
/* Panel de login */
#loginPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#loginPopup .loginBox {
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    width: 90%;
    text-align: center;
    position: relative;
}

#closeLoginPopup {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    color: red;
    cursor: pointer;
}

#loginPopup .loginBox h2 {
    margin-bottom: 20px;
    font-size: 22px;
    color: #333;
}

#loginPopup .loginBox input[type="text"],
#loginPopup .loginBox input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

#loginPopup .loginBox button {
    width: 100%;
    padding: 10px;
    background-color: #6f2486;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#loginPopup .loginBox button:hover {
    background-color: #5c1e6f;
}

.input-group {
    margin-bottom: 15px;
}


.password-wrapper {
    position: relative;
  }
  
  .password-wrapper input {
    width: 100%;
    padding: 10px 40px 10px 10px; /* Espacio a la derecha para el ícono */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-75%); /* Centra verticalmente el ícono */
    font-size: 18px;
    cursor: pointer;
    color: #6f2486; /* Color del ícono */
  }
  

/* PANEL DE ADMIN PARA CARGAR POP-UP */
#adminPanel {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 500px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 10000;
}

#adminPanel .close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    color: red;
    cursor: pointer;
}

#adminPanel h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
}

#popupImgInput {
    width: 100%;
    margin-top: 10px;
}

#savePopupBtn {
    margin-top: 20px;
    background-color: #6f2486;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#savePopupBtn:hover {
    background-color: #5c1e6f;
}

/* Botones para editar/eliminar imagen */
#imageOptions {
    margin-top: 20px;
    display: none;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#imageOptions button {
    padding: 8px 16px;
    margin: 5px;
    background-color: #6f2486;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#imageOptions button:hover {
    background-color: #5c1e6f;
}

/* POP-UP PÚBLICO PARA LOS VISITANTES */
#publicPopup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#publicPopup .popupContent {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    text-align: center;
    max-width: 450px;
    width: 90%;
    position: relative;
}

#publicPopup img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 0px;
}

#closePublicPopup {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 12px;
    color: red;
    background: none;
    border: none;
    cursor: pointer;
}

#publicPopup button {
    padding: 1px 5px;
    background-color: #6f2486;
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

#publicPopup button:hover {
    background-color: #5c1e6f;
}

/* ESTILOS PARA BOTONES EN HEADER */
#adminButton, #popupNavButton {
    background-color: #6f2486;
    color: white;
    padding: 5px 15px;
    border: none;
    border-radius: 0px;
    cursor: pointer;
    font-size: 12px;
    margin-left: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#adminButton:hover, #popupNavButton:hover {
    background-color: #5c1e6f;
}

/* Responsividad */
@media (max-width: 768px) {
    #loginPopup .loginBox {
        max-width: 90%;
        padding: 15px;
    }

    #loginPopup .loginBox h2 {
        font-size: 20px;
    }

    #loginPopup .loginBox input[type="text"],
    #loginPopup .loginBox input[type="password"] {
        padding: 8px;
        font-size: 14px;
    }

    #loginPopup .loginBox button {
        padding: 12px;
        font-size: 14px;
    }

    #adminPanel {
        width: 90%;
        padding: 15px;
    }

    #adminPanel h3 {
        font-size: 18px;
    }

    #popupImgInput {
        margin-top: 5px;
    }

    #savePopupBtn {
        padding: 12px 20px;
        font-size: 14px;
    }

    #imageOptions button {
        padding: 6px 12px;
        font-size: 14px;
    }

    #publicPopup .popupContent {
        width: 90%;
    }

    #publicPopup img {
        max-width: 100%;
        border-radius: 15px;
    }

    #adminButton, #popupNavButton {
        font-size: 14px;
        padding: 5px 10px;
    }
}

@media (max-width: 480px) {
    #loginPopup .loginBox {
        max-width: 85%;
        padding: 10px;
    }

    #loginPopup .loginBox h2 {
        font-size: 18px;
    }

    #loginPopup .loginBox input[type="text"],
    #loginPopup .loginBox input[type="password"] {
        font-size: 14px;
        padding: 6px;
    }

    #loginPopup .loginBox button {
        padding: 10px;
        font-size: 14px;
    }

    #adminPanel {
        width: 90%;
        padding: 10px;
    }

    #adminPanel h3 {
        font-size: 16px;
    }

    #savePopupBtn {
        padding: 10px 15px;
        font-size: 14px;
    }

    #imageOptions button {
        font-size: 12px;
        padding: 6px 10px;
    }

    #publicPopup .popupContent {
        width: 90%;
    }

    #publicPopup img {
        width: 100%;
    }

    #adminButton, #popupNavButton {
        font-size: 12px;
        padding: 5px 8px;
    }
}
/**************************************************/
/************ FIN LOGIN y POP UP ************/
/**************************************************/




 
 /************Inicio Animaciones*******************/
 .animated {
    opacity: 0;
    transition: all 0.6s ease-out;
  }
  
  .slide-up {
    transform: translateY(40px);
  }
  
  .slide-left {
    transform: translateX(-40px);
  }
  
  .slide-right {
    transform: translateX(40px);
  }
  
  .visible {
    opacity: 1;
    transform: translate(0, 0);
  }
  
  
   /************Fin Animaciones*******************/


 
a {
    color: #454545;
    transition: .3s;
}

a:hover,
a:active,
a:focus {
    color: #6f2486;
    outline: none;
    text-decoration: none;
}

.btn:focus,
.form-control:focus {
    box-shadow: none;
}

.container-fluid {
    max-width: 1366px;
}

.back-to-top {
    position: fixed;
    display: none;
    background: #6f2486;
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 1;
    font-size: 22px;
    right: 15px;
    bottom: 15px;
    transition: background 0.5s;
    z-index: 9;
}

.back-to-top:hover {
    background: #6f2486;
}

.back-to-top:hover i {
    color: #6f2486;
}

.back-to-top i {
    color: #1d2434;
    padding-top: 10px;
}


/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
    position: relative;
    height: 60px;
    background: #6f2486;
}

.top-bar .top-bar-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.top-bar .top-bar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.top-bar .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 60px;
    padding: 0 10px;
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.top-bar .text:last-child {
    border-right: 1px solid rgba(0, 0, 0, 0.15);
}

.top-bar .text h2 {
    color: #eeeeee;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0;
}

.top-bar .text p {
    color: #eeeeee;
    font-size: 12px;
    font-weight: 400;
    margin: 0;
}

.top-bar .social {
    display: flex;
    height: 60px;
    font-size: 0;
    justify-content: flex-end;
}

.top-bar .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 100%;
    font-size: 22px;
    color: #ffffff;
    border-right: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .social a:first-child {
    border-left: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .social a:hover {
    color: #6f2486;
    background: #ffffff;
}

@media (min-width: 992px) {
    .top-bar {
        padding: 0 60px;
    }
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.navbar {
    position: relative;
    transition: .5s;
    z-index: 999;
}

.navbar.nav-sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 5px #6f2486;
}

.navbar .navbar-brand {
    margin: 0;
    color: #ffffff;
    font-size: 45px;
    line-height: 0px;
    font-weight: 600;
}

.navbar .navbar-brand span {
    font-weight: 800;
}

.navbar .navbar-brand img {
    max-width: 100%;
    max-height: 40px;
}

.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    padding: 10px 10px 8px 10px;
    color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active {
    background: rgba(256, 256, 256, .1);
    transition: none;
}

.navbar .dropdown-menu {
    margin-top: 0;
    border: 0;
    border-radius: 0;
    background: #f8f9fa;
}

@media (min-width: 992px) {
    .navbar {
        position: absolute;
        width: 100%;
        top: 60px;
        padding: 20px 60px;
        background: rgba(0, 0, 0, .1) !important;
        z-index: 9;
    }
    
    .navbar.nav-sticky {
        padding: 10px 60px;
        background: #1d2434 !important;
    }
    
    .navbar a.nav-link {
        padding: 8px 15px;
        font-size: 14px;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
}

@media (max-width: 991.98px) {   
    .navbar {
        padding: 15px;
        background: #1d2434 !important;
    }
    
    .navbar a.nav-link {
        padding: 5px;
    }
    
    .navbar .dropdown-menu {
        box-shadow: none;
    }
}


/*******************************/
/********** Hero CSS **********/
/*******************************/

.hero {
    position: relative;
    width: 100%;
    margin-bottom: 45px;
    height: calc(100vh - 60px);
    background: #1D2434;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero .container-fluid {
    padding: 0;
}

.hero .hero-image {
    position: relative;
    text-align: center;
    margin-bottom: 20px;  /* Espaciado entre imagen y texto */
}

/* Animación Fade-in para el logo */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hero .hero-image img {
    max-width: 100%;
    width: 400px;  /* Ajustamos el tamaño */
    height: auto; 
    margin: 0 auto; 
    display: block;
    opacity: 0;
    animation: fadeIn 1s ease-out forwards;
}

/* Animación de máquina de escribir para el título */
.typewriter {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;  /* El texto ocupará el 100% disponible */
    animation: typing 2s steps(40) 1s forwards, blink-caret 0.75s step-end infinite;
    font-family: "Manrope", sans-serif;
    color: #f7f9ff;
    font-size: 2rem;
}

/* Animación de escritura para el título */
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* Parpadeo del cursor */
@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

/* Animación de máquina de escribir para el párrafo */
.typewriter-text {
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
    width: 100%;  /* El texto ocupará el 100% disponible */
    animation: typing-text 2s steps(40) 1s forwards, blink-caret 0.75s step-end infinite;
    font-family: "Manrope", sans-serif;
    color: #ffffff;
    font-size: 1.2rem;
}

/* Animación de escritura para el párrafo */
@keyframes typing-text {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* Hero texto */
.hero .hero-text {
    position: relative;
    padding-left: 15px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

/* Espaciado y tamaño del texto */
.hero .hero-text h1 {
    color: #f7f9ff;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.4;
}

.hero .hero-text p {
    color: #ffffff;
    font-size: 1.2rem;
    margin-bottom: 25px;
    line-height: 1.6;
}

/* Botón de llamada a la acción */
.hero .hero-text .btn {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    background: none;
    border: 2px solid #f5f5f5;
    border-radius: 0;
    transition: .3s;
}

.hero .hero-text .btn:hover {
    color: #ffffff;
    background: #6f2486;
}

.hero .hero-text .btn:focus {
    outline: none;
}

/* Media Query para pantallas pequeñas */
@media (max-width: 767px) {
    .hero .hero-text h1 {
        font-size: 1.5rem;  /* Ajuste del tamaño para pantallas pequeñas */
    }

    .hero .hero-text p {
        font-size: 1rem;  /* Ajuste del tamaño para párrafo */
    }

    .hero .hero-text .btn {
        font-size: 1rem;
        padding: 12px 25px;
    }

    .hero .hero-image img {
        width: 80%;  /* Ajustar el tamaño de la imagen */
        max-width: 350px;
    }

    .hero .hero-text {
        padding-top: 20px;  /* Aseguramos que haya espacio entre imagen y texto */
    }

    /* Asegura que el texto no se corte y se ajuste bien */
    .hero .hero-text p,
    .hero .hero-text h1 {
        text-align: center;
        line-height: 1.4;
    }
}

/* Media Query para pantallas medianas */
@media (max-width: 991px) {
    .hero .hero-text h1 {
        font-size: 1.8rem;
    }
    
    .hero .hero-text p {
        font-size: 1.1rem;
    }
    
    .hero .hero-text .btn {
        padding: 12px 30px;
        font-size: 1rem;
    }

    .hero .hero-image img {
        max-width: 90%;
    }
}



/*******************************/
/******* Page Header CSS *******/
/*******************************/
.page-header {
    position: relative;
    margin-bottom: 30px;
    padding: 78px 0 5px 0;
    text-align: center;
    background: #1D2434;
}

.page-header h2 {
    position: relative;
    color: #D5B981;
    font-size: 30px;
    font-weight: 700;
}

.page-header a {
    position: relative;
    padding: 0 12px;
    font-size: 22px;
    color: #ffffff;
}

.page-header a:hover {
    color: #D5B981  ;
}

.page-header a::after {
    position: absolute;
    content: "/";
    width: 8px;
    height: 8px;
    top: -2px;
    right: -7px;
    text-align: center;
    color: #ffffff;
}

.page-header a:last-child::after {
    display: none;
}

@media (max-width: 767.98px) {
    .page-header h2 {
        font-size: 25px;
    }
    
    .page-header a {
        font-size: 12px;
        padding: 10px 0 30px 0;
    }
}


/*******************************/
/******* Section Header ********/
/*******************************/
.section-header {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 45px;
}

.section-header p {
    margin-bottom: 5px;
    position: relative;
    font-size: 16px;
    font-weight: 600;
}

.section-header h2 {
    margin: 0;
    position: relative;
    font-size: 50px;
    font-weight: 700;
}

@media (max-width: 767.98px) {
    .section-header h2 {
        font-size: 30px;
    }
}


/*******************************/
/********** About CSS **********/
/*******************************/
.about {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.about .section-header {
    margin-bottom: 30px;
    margin-left: 0;
}

.about .about-img {
    position: relative;
    height: 100%;
    margin: 60px 0 0 60px;
}

.about .about-img img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}

.about .about-img::before {
    position: absolute;
    content: "";
    top: -60px;
    right: 60px;
    bottom: 60px;
    left: -60px;
    background: #1d2434;
    z-index: 0;
}

.about .about-img::after {
    position: absolute;
    content: "";
    top: -30px;
    right: 30px;
    bottom: 30px;
    left: -30px;
    background: transparent;
    border: 1px solid #ffffff;
    z-index: 2;
}

.about .about-text p {
    font-size: 16px;
}

.about .about-text a.btn {
    position: relative;
    margin-top: 15px;
    padding: 12px 25px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #1d2434;
    border: 2px solid #1d2434;
    border-radius: 0;
    background: none;
    transition: .3s;
}

.about .about-text a.btn:hover {
    color: #D5B981;
    background: #1d2434;
}

@media (max-width: 767.98px) {
    .about .about-img {
        margin-bottom: 30px;
        height: auto;
    }
}
.about-text .decorative-immersion {
    float: right; /* o 'right' si lo preferís del otro lado */
    shape-outside: inset(0); /* forma cuadrada */
    width: 300px;
    height: 450px;
    object-fit: cover;
    margin: 0 20px 20px 0; /* margen entre imagen y texto */
    shape-margin: 15px;
}

@media (max-width: 768px) {
    .about-text .decorative-immersion {
        float: none;
        display: block;
        margin: 0 auto 20px auto;
    }
}



/*******************************/
/********** Service CSS ********/
/*******************************/

.service {
    position: relative;
    width: 100%;
    padding: 45px 0;
    margin: 100px 0 100px;
    z-index: 1; /* Aseguramos que el contenido esté por encima de la imagen */
}

.service .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Oscurece más el fondo para mejorar contraste */
    z-index: 0; /* La capa oscura debe ir debajo del contenido */
}

.service .section-header {
    margin-bottom: 30px;
    text-align: center;
    color: white; /* Cambiamos el color del texto para que contraste con el fondo */
    z-index: 2; /* Aseguramos que el texto esté sobre el overlay */
    position: relative;
}

.service .service-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 30px; /* Espacio entre las columnas */
    z-index: 2; /* Aseguramos que el contenido esté por encima de la imagen */
}

.service .service-item {
    position: relative;
    padding: 15px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8); /* Fondo blanco con algo de transparencia */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.service .service-img img {
    width: 100%;
    border-radius: 8px;
}

.service .service-item h3 {
    font-size: 18px;
    margin-top: 15px;
}

.service .service-item p {
    font-size: 14px;
    color: #555;
    margin-top: 10px;
}

.service .service-item .btn {
    margin-top: 15px;
    padding: 12px 20px;
    background-color: #6f2486;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.service .service-item .btn:hover {
    background-color: #D5B981;
}

.service-icon i {
    font-size: 50px; /* o el tamaño que quieras */
}

@media (max-width: 1024px) {
    .service .service-content {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas */
    }
    .service-icon i {
        font-size: 40px; /* o el tamaño que quieras */
    }
}

@media (max-width: 767.98px) {
    .service .service-content {
        grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
    }
    .service-icon i {
        font-size: 35px; /* o el tamaño que quieras */
    }
}





/*******************************/
/*********** Team CSS **********/
/*******************************/
.team {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
    border-radius: 10px;
}

.team .team-item {
    margin-bottom: 30px;
}

.team .team-img {
    position: relative;
}

.team .team-img::after {
    position: absolute;
    content: "";
    top: 15px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    background: transparent;
    border: 1px solid #D5B981;
    transition: .3s;
    z-index: 1;
}

.team .team-img img {
    width: 100%;
    border-radius: 10px;
}

.team .team-text {
    position: relative;
    margin: -60px 15px 0 15px;
    padding: 30px 15px;
    text-align: center;
    background: #F6F6F7;
    transition: .3s;
    z-index: 2;
    border-radius: 10px;
}

.team .team-text h2 {
    font-size: 16px;
    font-weight: 600;
}

.team .team-text p {
    margin: 0;
    color: #333333;
}

.team .team-item:hover .team-text {
    background: #D5B981;
}

.team .team-item:hover .team-img::after {
    border-color: #6f2486;
}

.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
}

.modal-content {
    background-color: #fff;
    margin: auto;
    border-radius: 10px;
    width: 80%;
    max-width: 900px;
    padding: 20px;
    position: relative;
    animation: fadeIn 0.4s ease-out;
}

.modal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.modal-body img {
    width: 40%;
    border-radius: 10px;
    object-fit: cover;
    z-index: 2;
}

.modal-info {
    width: 45%;
    z-index: 1;
}

.modal-info h2 {
    margin-top: 0;
    color: #1d2434;
}

.modal-info p {
    color: #333;
    font-size: 16px;
}

.close {
    color: #aaa;
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    z-index: 10;
}

.arrow {
    font-size: 30px;
    cursor: pointer;
    user-select: none;
    color: #444;
}

.left-arrow {
    margin-right: 10px;
}

.right-arrow {
    margin-left: 10px;
}

.arrow.hidden {
    visibility: hidden;
}

/* Animaciones */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

.fade-img {
    opacity: 0;
    animation: fadeImage 0.6s ease forwards;
}

.fade-text {
    opacity: 0;
    animation: slideText 0.6s ease forwards;
    animation-delay: 0.2s;
}

@keyframes fadeImage {
    from { opacity: 0; transform: translateX(-40px); }
    to { opacity: 1; transform: translateX(0); }
}

@keyframes slideText {
    from { opacity: 0; transform: translateX(40px); }
    to { opacity: 1; transform: translateX(0); }
}

@media (max-width: 768px) {
    .modal-body {
        flex-direction: column;
        text-align: center;
    }

    .modal-body img,
    .modal-info {
        width: 100%;
    }

    .arrow {
        display: none;
    }
}


/*******************************/
/******* Testimonial CSS *******/
/*******************************/
.testimonial {
    position: relative;
    margin: 45px 0;
    padding: 120px 0;
    background: linear-gradient(rgba(29, 36, 52, 1), rgba(29, 36, 52, .5), rgba(29, 36, 52, 1)), url(../img/testimonial-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.testimonial .container {
    max-width: 700px;
}

.testimonial .testimonials-carousel {
    position: relative;
    width: 100%;
}

.testimonial .testimonial-item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.testimonial .testimonial-item img {
    width: 60px;
    border-radius: 60px;
    margin-bottom: 25px;
}

.testimonial .testimonial-item p {
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 20px;
}

.testimonial .testimonial-item h2 {
    color: #D5B981;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
}

.testimonial .testimonial-item h3 {
    color: #999999;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
}

.testimonial .owl-nav {
    width: 135px;
    margin-top: 45px;
    display: flex;
}

.testimonial .owl-nav .owl-prev,
.testimonial .owl-nav .owl-next {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6f2486;
    background: #1d2434;
    font-size: 22px;
    transition: .3s;
}

.testimonial .owl-nav .owl-next {
    margin-left: 15px;
}

.testimonial .owl-nav .owl-prev:hover,
.testimonial .owl-nav .owl-next:hover {
    color: #1d2434;
    background: #6f2486;
}


/*******************************/
/*********** Blog CSS **********/
/*******************************/

/* Blog CSS */
.blog {
    position: relative;
    width: 100%;
    padding: 5px 0;
}

.blog .blog-carousel {
    position: relative;
    width: 100%;
    left: 0;
}

.blog .blog-item {
    position: relative;
    margin: 0 4px 8px;
    background: #1d2434;
    overflow: hidden;
    border: 3px solid #1d2434;
    border-radius: 6px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

/* Ajustes para la imagen dentro del recuadro */
.blog .blog-img {
    position: relative;
    width: 100%;
    height: 180px;
    overflow: hidden;
}

.blog .blog-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(80%);
}

/* Contenido del blog (texto) dentro del recuadro */
.blog .blog-meta {
    position: relative;
    padding: 5px 10px;
    background-color: #1d2434;
    border-bottom: 1px solid #ddd;
}

.blog .blog-meta * {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-weight: 300;
    color: white;
}

.blog .blog-meta i {
    margin: 0 2px 0 6px;
}

.blog .blog-meta i:first-child {
    margin-left: 0;
}

.blog .blog-text {
    position: relative;
    padding: 10px;
    background-color: #1d2434;
    color: white;
    border-top: 1px solid #ddd;
    border-radius: 0 0 4px 4px;
}

.blog .blog-text h2 {
    font-size: 20px;
    font-weight: 600;
}

.blog .blog-text p {
    margin-bottom: 6px;
    font-size: 15px;
}

.blog .blog-item a.btn {
    padding: 6px 10px;
    font-size: 10px;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    background: #592069;
    border-radius: 4px;
    transition: .3s;
    text-decoration: none;
}

.blog .blog-item a.btn i {
    margin-left: 5px;
}

.blog .blog-item a.btn:hover {
    background: #1d2434;
    color: #6f2486;
}

.blog .owl-nav {
    width: 100px;
    margin: 15px auto 0 auto;
    display: flex;
}

.blog .owl-nav .owl-prev,
.blog .owl-nav .owl-next {
    margin-left: 8px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #6f2486;
    background: #1d2434;
    font-size: 16px;
    transition: .3s;
}

.blog .owl-nav .owl-prev:hover,
.blog .owl-nav .owl-next:hover {
    color: #1d2434;
    background: #6f2486;
}

.blog .pagination .page-link {
    color: #1d2434;
    border-radius: 0;
    border-color: #1d2434;
}

.blog .pagination .page-link:hover,
.blog .pagination .page-item.active .page-link {
    color: #6f2486;
    background: #1d2434;
}

.blog .pagination .disabled .page-link {
    color: #999999;
}



/*******************************/
/********* Contact CSS *********/
/*******************************/

.contact {
    position: relative;
    width: 100%;
    margin: 45px 0;
    background: #000000;
}

.contact .container-fluid {
    background: url(../img/contact.jpg) center center no-repeat; /* Centrar la imagen */
    background-size: cover; /* Asegura que la imagen cubra toda el área */
    background-position: center; /* Asegura que la imagen se centre */
    padding: 0;
    height: 10vh; /* Reducir aún más la altura de la imagen */
    width: 90%; /* Asegura que la imagen ocupe el 100% del ancho */
}

/* Ajuste del formulario */
.contact .contact-form {
    position: relative;
    padding: 5px 0 5px 3px; /* Reducir padding más */
    background: #000000;
    max-width: 100%; /* El formulario ahora ocupará todo el ancho disponible */
    margin: 0 auto;
    text-align: center;
}

.contact .contact-form input,
.contact .contact-form textarea {
    width: 100%;
    padding: 2px 0; /* Reducir aún más el padding de los campos de entrada */
    background: none;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 3px; /* Reducir el margen entre los campos */
    font-size: 6px; /* Reducir más el tamaño de la fuente */
}

.contact .contact-form .btn {
    padding: 4px 8px; /* Reducir aún más el padding del botón */
    font-size: 6px; /* Reducir más el tamaño de la fuente del botón */
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
    background: none;
    border: 2px solid #6f2486;
    border-radius: 0;
    transition: .3s;
    width: 100%;
}

.contact .contact-form .btn:hover {
    color: #1d2434;
    background: #6f2486;
}

.contact .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


/* ======= MEDIA QUERIES ======= */

/* Para pantallas grandes (PC y tabletas grandes) */
@media (min-width: 992px) {
    .contact .container-fluid {
        height: 40vh; /* Mantener la altura de la imagen */
    }

    .contact .contact-form {
        max-width: 600px; /* Mantener el ancho máximo del formulario */
        padding: 40px 20px;
    }

    .contact .contact-form .btn {
        padding: 10px 20px;
        font-size: 14px;
        width: 50%; /* Reducir el tamaño del botón */
        margin-top: 20px;
    }
}

/* Para pantallas medianas (tabletas pequeñas, entre 768px y 991px) */
@media (min-width: 768px) and (max-width: 991px) {
    .contact .container-fluid {
        background-size: contain; /* Ajustar la imagen para que no se estire */
        height: 35vh; /* Reducir la altura de la imagen */
    }

    .contact .contact-form {
        max-width: 80%; /* El formulario ocupará el 80% del ancho */
        padding: 30px 20px;
    }

    .contact .contact-form .btn {
        padding: 12px 25px;
        font-size: 16px;
        width: 100%;
    }
}

/* Para pantallas pequeñas (menos de 768px, teléfonos y tabletas pequeñas) */
@media (max-width: 767.98px) {
    .contact .container-fluid {
        background-size: contain; /* Ajuste de la imagen */
        height: 15vh; /* Ajustar la altura de la imagen */
        padding: 0 10px; /* Reducir el padding */
    }

    .contact .contact-form {
        max-width: 90%; /* El formulario ocupará el 90% del ancho */
        padding: 10px 5px;
    }

    .contact .contact-form .btn {
        font-size: 6px; /* Reducir aún más el tamaño de la fuente */
        padding: 4px 8px;
        width: 100%; /* Botón a 100% de ancho */
    }

    .contact .contact-form input,
    .contact .contact-form textarea {
        padding: 2px;
        font-size: 6px; /* Reducir el tamaño de la fuente */
    }
}

/* Para pantallas muy pequeñas (celulares, menos de 480px) */
@media (max-width: 480px) {
    .contact .container-fluid {
        background-size: contain; /* Ajustar la imagen */
        height: 8vh; /* Reducir aún más la altura de la imagen */
    }

    .contact .contact-form {
        max-width: 95%; /* El formulario ocupará el 95% del ancho */
        padding: 3px 2px; /* Reducir más el padding */
    }

    .contact .contact-form .btn {
        font-size: 5px; /* Reducir aún más el tamaño de la fuente */
        padding: 3px 6px;
        width: 100%; /* Botón a 100% de ancho */
    }

    .contact .contact-form input,
    .contact .contact-form textarea {
        padding: 1px;
        font-size: 5px; /* Reducir aún más el tamaño de la fuente */
    }
}


/*******************************/
/******* Single Page CSS *******/
/*******************************/

.single {
    position: relative;
    width: 85%;
    padding: 45px 0 65px 50px;
    display: flex; /* Usamos flexbox para organizar las columnas */
    justify-content: space-between; /* Espacio entre los filtros y el contenido */
}

.single img {
    width: 100%;
    margin: 0 0 25px 0;
}

.single .table,
.single .list-group {
    margin-bottom: 30px;
}

.single .ul-group {
    padding: 0;
    list-style: none;
}

.single .ul-group li {
    margin-left: 1px;
}

.single .ul-group li::before {
    position: relative;
    content: "\f0da";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.single .ol-group {
    padding-left: 25px;
}

/* Estilos para el filtro */
.single .filter {
    width: 250px; /* Ancho fijo para el filtro */
    background-color: #f4f4f4;
    padding: 50px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-height: 100vh; /* Cambiado a min-height */
    position: sticky;
    top: 0;
    overflow-y: auto; /* Habilitar scroll vertical dentro del filtro */
    max-height: 100vh; /* Máximo igual a la ventana, para no salir de la pantalla */
}

/* Estilos para los botones del filtro */
.single .filter .filter-btn {
    display: block;
    margin-bottom: 6px; /* Menos separación entre botones */
    width: 100%;
    padding: 2px 3px; /* Menos espacio interno */
    background-color: #1d2434;
    color: white;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 14px; /* Tamaño de texto un poco más pequeño */
    border-radius: 4px; /* (opcional) botones más redondeados para mejor estética */
}

.single .filter .filter-btn.active {
    background-color: #9e782d;
}

/* Estilos para el contenido */
.single .content {
    flex-grow: 1;
    width: 95%; /* El contenido ocupa el 80% del ancho */
    padding-left: 25px; /* Espacio entre el filtro y el contenido */
    overflow: hidden; /* Para evitar desbordamiento */
}

/* ======= MEDIA QUERIES ======= */

/* Para pantallas más pequeñas (por debajo de 992px) */
/* Para pantallas más pequeñas (por debajo de 991px) */
@media (max-width: 991px) {
    .single {
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 5px;
    }

    /* Filtro en el margen izquierdo con 30% de la pantalla */
    .single .filter {
        width: 30%;  /* Ocupa el 30% del ancho de la pantalla */
        position: relative;
        height: auto;
        margin-right: 0px;
        margin-left: 0px;
        padding: 15px;
    }

    /* Contenido ajustado al 70% del ancho */
    .single .content {
        width: 70%;  /* El contenido ocupa el 70% */
        display: block;
        font-size: 12px;
        padding-left: 20px;
    }

    .single .filter .filter-btn {
        font-size: 14px;  /* Tamaño moderado para los botones */
        padding: 8px;
    }
}

/* Para pantallas más pequeñas (por debajo de 576px) */
@media (max-width: 576px) {
    .single .filter {
        width: 35%;  /* El filtro ocupa el 35% en pantallas muy pequeñas */
        padding: 10px;
    }

    .single .content {
        display: block;
    }

    .single .filter .filter-btn {
        font-size: 12px;
        padding: 8px;
    }

    .single .content .blog-item {
        margin: 10px 0;
    }

    .single .content .blog-text p {
        font-size: 10px;
    }

    .single .content .blog-text h2 {
        font-size: 14px;
    }
}




/********* Buscador CSS **********/


.search-container {
    margin: 20px;
    display: flex;
    justify-content: center;
}

.search-container input {
    width: 250px;
    padding: 10px;
    border-radius: 5px;  /* Bordes redondeados */
    border: 2px solid #000000;  /* Borde más visible */
    font-size: 14px;  /* Aumenta el tamaño de la fuente para mejor legibilidad */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);  /* Sombra sutil */
    transition: box-shadow 0.3s ease;  /* Transición suave para el efecto al enfocar */
}

/* Sombra más destacada al enfocar el input */
.search-container input:focus {
    outline: none;  /* Elimina el contorno por defecto */
    border-color: #b64cd6;  /* Cambia el color del borde al enfocar */
    box-shadow: 0 4px 10px rgba(4, 53, 105, 0.3);  /* Sombra más intensa */
}
    



/*******************************/
/********* Contadores **********/
/*******************************/

.stats-container {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    flex-wrap: wrap; /* Permitir que los elementos se ajusten si es necesario */
}

.stat-item {
    text-align: center;
    padding: 15px; /* Reducir el padding */
    flex-basis: 25%; /* En pantallas grandes, ocupan el 25% */
    margin: 10px 0;  /* Añadir espacio entre los contadores */
}

.stat-box {
    background-color: #1d2434; /* Fondo oscuro para resaltar */
    padding: 15px; /* Reducir el padding */
    border-radius: 12px; /* Bordes más redondeados */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); /* Sombra más pronunciada */
    margin-bottom: 10px;
    position: relative;
    transition: transform 0.3s ease-in-out;
    border: 3px solid #6f2486; /* Recuadro morado */
}

.stat-box:hover {
    transform: scale(1.05);
}

.stat-item h3 {
    font-size: 36px; /* Reducir el tamaño del número */
    margin: 0;
    color: #fff;
    font-weight: bold;
    animation: countAnimation 1.5s ease-in-out forwards; /* Animación */
}

.stat-item p {
    font-size: 14px; /* Reducir tamaño del texto */
    color: #1d2434;
    margin-top: 10px;
}

/* Animación original para el contador */
@keyframes countAnimation {
    0% {
        transform: scale(0.5);
        opacity: 0;
    }
    25% {
        transform: scale(1.1);
        opacity: 0.6;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.8;
    }
    75% {
        transform: scale(1.1);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* ======= MEDIA QUERIES ======= */

/* Para pantallas grandes (PC y tabletas grandes) */
@media (min-width: 992px) {
    .stat-item {
        flex-basis: 20%; /* Los contadores ocuparán el 20% del ancho en pantallas grandes */
    }

    .stat-item h3 {
        font-size: 40px; /* Mantener tamaño adecuado */
    }

    .stat-item p {
        font-size: 16px; /* Tamaño adecuado para pantallas grandes */
    }
}

/* Para pantallas medianas (por debajo de 1024px) */
@media (max-width: 1024px) {
    .stat-item {
        flex-basis: 45%; /* Reducir el tamaño de cada contenedor a un 45% */
    }

    .stat-item h3 {
        font-size: 32px; /* Reducir tamaño de fuente */
    }

    .stat-item p {
        font-size: 14px; /* Reducir tamaño de texto */
    }
}

/* Para pantallas pequeñas (por debajo de 768px) */
@media (max-width: 768px) {
    .stats-container {
        justify-content: space-between; /* Asegurarse de que los contadores se distribuyan */
    }

    .stat-item {
        flex-basis: 40%; /* Mantener el 40% del tamaño de cada contenedor */
    }

    .stat-item h3 {
        font-size: 28px; /* Reducir aún más el tamaño del número */
    }

    .stat-item p {
        font-size: 12px; /* Reducir aún más el tamaño del texto */
    }
}

/* Para pantallas extra pequeñas (por debajo de 576px) */
@media (max-width: 576px) {
    .stat-item {
        flex-basis: 100%; /* Los contadores ocuparán el 100% del espacio */
        padding: 8px; /* Reducir el padding para pantallas pequeñas */
    }

    .stat-item h3 {
        font-size: 24px; /* Reducir aún más el tamaño del número */
    }

    .stat-item p {
        font-size: 10px; /* Reducir aún más el tamaño del texto */
    }
}




/*******************************/
/********* Footer CSS **********/
/*******************************/
.footer {
    position: relative;
    margin-top: 45px;
    padding-top: 90px;
    background: #000000;
}

.footer .footer-contact,
.footer .footer-link,
.footer .footer-newsletter {
    position: relative;
    margin-bottom: 45px;
    color: #999999;
}

.footer .footer-contact h2,
.footer .footer-link h2,
.footer .footer-newsletter h2{
    position: relative;
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 700;
    color: #6f2486;
}

.footer .footer-link a {
    display: block;
    margin-bottom: 10px;
    color: #999999;
    transition: .3s;
}

.footer .footer-link a::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .footer-link a:hover {
    color: #6f2486;
    letter-spacing: 1px;
}

.footer .footer-contact p i {
    width: 25px;
}

.footer .footer-social {
    position: relative;
    margin-top: 20px;
}

.footer .footer-social a {
    display: inline-block;
}

.footer .footer-social a i {
    margin-right: 15px;
    font-size: 18px;
    color: #6f2486;
}

.footer .footer-social a:last-child i {
    margin: 0;
}

.footer .footer-social a:hover i {
    color: #999999;
}

.footer .footer-newsletter .form {
    position: relative;
    width: 100%;
}

.footer .footer-newsletter input {
    height: 60px;
    border: 2px solid #1d2434;
    border-radius: 0;
}

.footer .footer-newsletter .btn {
    position: absolute;
    top: 8px;
    right: 8px;
    height: 44px;
    padding: 8px 20px;
    font-size: 14px;
    font-weight: 600;
    color: #1d2434;
    background: none;
    border-radius: 0;
    border: 2px solid #1d2434;
    transition: .3s;
}

.footer .footer-newsletter .btn:hover {
    color: #6f2486;
    background: #1d2434;
}

.footer .copyright {
    padding: 0 30px;
}

.footer .copyright .row {
    background: #ffffff;
    padding-top: 25px;
    padding-bottom: 25px;
}

.footer .copyright p {
    margin: 0;
    color: #454545;
}

.footer .copyright .col-md-6:last-child p {
    text-align: right;
}

.footer .copyright p a {
    color: #1d2434;
    font-weight: 700;
}

.footer .copyright p a:hover {
    color: #6f2486;
}

@media (max-width: 767.98px) {
    .footer .copyright p,
    .footer .copyright .col-md-6:last-child p {
        margin: 5px 0;
        text-align: center;
    }
    
}


/* Galería mejorada */
.portfolio .portfolio-wrap {
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #000;
}

.portfolio .portfolio-wrap:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.portfolio .portfolio-wrap img {
    width: 100%;
    height: 250px; /* Ajustar altura de las imágenes */
    object-fit: cover;
    transition: opacity 0.3s ease;
    border-radius: 10px;
}

.portfolio .portfolio-item {
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}

/* Hacer que las imágenes sean responsivas */
@media (max-width: 768px) {
    .portfolio .row {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Dos columnas en formato mosaico */
        gap: 10px; /* Espacio entre las imágenes */
    }

    .portfolio .portfolio-wrap img {
        height: 180px; /* Ajustar altura de las imágenes */
        padding: 2px;
    }

    .portfolio .section-header h2 {
        font-size: 1.5rem; /* Ajustar tamaño del título */
    }
}

/* Agregar espacio entre las imágenes en pantallas grandes */
@media (min-width: 992px) {
    .portfolio .portfolio-wrap {
        margin-bottom: 20px;
        padding: 2px;
        background-color: #592069;
    }
}
